/* 
1. Posicionamiento
2. Modelo de caja
3. Tipografia
4. Temas visuales
5. Otros
*/

:root{
    --font-sans:'DM Sans', sans-serif;
	--font-inter:'Inter', sans-serif;
	--size-300:300;
	--size-400:400;
	--size-500:500;
	--size-700:700;
	--size-900:900;
	--background:#E5E5E5;
	--linear-gradient:linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);

	--bitcoin-orage:#F7931A;
	--soft-orange:#FFE9D5;
	--secondary-blue:#1a9af7; 
	--soft-blue:#e7f5ff;
	--warm-black:#201E1C;
	--black:#282623;
	--gray:#BABABA;
    --middle-gray: #757575;
    --high-gray: #808080;
	--off-white:#FAF8F7;
	--just-white:#FFFFFF;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
    scroll-behavior: smooth;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: var(--linear-gradient);
}

header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header__title_container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    align-self: center;
    height: 218px;
    margin-top: 40px;
    text-align: center;
}

header .header__title_container h1{
    font-size: 2.4rem;
    font-weight: var(--size-900);
    line-height: 2.6rem;
    color: var(--just-white);
}

header .header__title_container p{
    color: var(--soft-orange);
    margin-top: 25px;
    font-weight: var(--size-500);
    line-height: 1.8rem;
    font-size: 1.4rem;
}

header .header__title_container .header__button{
    position: absolute;
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /*Shadown*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: var(--size-900);
    text-decoration: none;
    color: var(--black);
    left: calc(50% - 118px);
}

header .header__button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("./assets/icons/down-arrow.svg");
}


/* Main sections*/
main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

main .main__exchange_container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

main .main__exchange_container .main__exchange_image{
    margin: 0 auto;
    margin-bottom: 50px;
    width: 200px;
    height: 200px;
    background-image: url("assets/img/bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main .main__exchange_container .main__exchange_title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

main .main__exchange_container .main__exchange_title h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

main .main__exchange_container .main__exchange_title p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: var(--size-500);
    line-height: 1.6rem;
    color: var(--middle-gray);
}

main .main__exchange_tables_container .main__exchange_currency_table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: var(--font-inter);
}

main .main__exchange_tables_container .main__exchange_currency_table .currency_table_title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: var(--size-900);
    line-height: 2.3rem;
    color: var(--bitcoin-orage);
}

main .main__exchange_tables_container .main__exchange_currency_table .currency_table_container{
    width: 90%;
    min-width: 230px;
    max-width: 500px;
    height: 250px;
    margin: 0 auto;
}

.currency_table_container table{
    width: 100%;
    height: 100%;
}


.currency_table_container table tr td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: var(--size-500);
    line-height: 1.8rem;
    color: var(--gray);
    background-color: var(--just-white);
}

.currency_table_container .table__top-left{
    border-radius: 15px 0 0 0;
}

.currency_table_container .table__top-right{
    border-radius: 0 15px 0 0;
}
.currency_table_container .table__bottom-left{
    border-radius: 0 0 0 15px;
}

.currency_table_container .table__bottom-right{
    border-radius: 0 0 15px 0;
}

.currency_table_container .table__right{
    font-size: 1.4rem;
    font-weight: var(--size-300);
    line-height: 1.7rem;
    color: var(--gray);
}

.table__right .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icons/trending-down.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.table__right .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icons/trending-up.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main__exchange_currency_table .currency_table_date{
    width: 220px;
    height: 30px;
    margin: 0 auto;
    margin-top: 35px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
    font-size: 1.2rem;
}

.main__exchange_currency_table .currency_table_date p{
    color: var(--black );
    line-height: 1.5rem;
    font-weight: var(--size-300);
}

/* Products details */

.main__product_details{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}

.main__product_details_batatalogo{
    position: absolute;
    width: 40px;
    height: 25px;
    background-image: url("./assets/icons/batata.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: -10px;
    left: calc(50% - 20px);
}


.main__product_details .main__product_details_title{
    width: 90%;
    min-width: 288px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}

.main__product_details .main__product_details_title h2{
    font-size: 2.4rem;
    margin-bottom: 20px;
    color: var(--just-white);
    font-weight: bold;
    line-height: 2.6rem;
}

.main__product_details .main__product_details_title p{
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--high-gray);
    font-weight: var(--size-500);
    line-height: 1.8rem;
}

.procuct_cards_container .product_cards{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.clock{
    background-image: url("./assets/icons/clock.svg");
}
.eyes{
    background-image: url("./assets/icons/eye.svg");
}
.check{
    background-image: url("./assets/icons/check-circle.svg");
}

.money{
    background-image: url("./assets/icons/dollar-sign.svg");
}

.icono{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.procuct_cards_container .product_cards .product_card_body{

    font-size: 1.4rem;
    font-weight: var(--size-500);
    line-height: 1.8rem;
    color: var(--high-gray);

}

.procuct_cards_container .product_cards .product_card_title{
    margin-bottom: 10px;
    font-size: 1.8rem;
    color: var(--just-white);
    font-weight: bold;
    line-height: 1.8rem;
}

.bitcoin-img-container{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url("./assets/img/bitcoinbaby2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bitcoin-img-container h2{
    padding-top: 15vh;
    font-size: 2.4rem;
    line-height:2.6rem;
    font-weight: bold;
    color: var(--just-white);
    text-align: center;
}

.main_plans_container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
    background-color: var(--off-white);
}

.plan_title{
    width: 90%;
    min-width: 288px;
    height:auto;
    margin: 0 auto;
    margin-bottom: 50px;
}

.plan_title h2{
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
}

.plan_title p{
    padding-top:30px;
    font-size:1.6rem;
    font-weight: var(--size-500);
    line-height: 1.8rem;
    color: var(--middle-gray );
}

.plans_container_slider{
    display: flex;
    height: 350px;
    overflow-x: scroll;
    overscroll-behavior-x: container;
    scroll-snap-type: x proximity;
    scrollbar-width: 0px;
    scrollbar-width: none;
    max-width: 800px;
    margin: 0px auto;
}


.plans_container_slider .plans_container_card{
    background-color: var(--just-white);
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    margin: 30px 10px 30px;
    padding: 10px 15px;
    position: relative;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    scroll-snap-align: center;
}

.plans_container_slider .plans_container_card:first-child{
    margin-left: 20%;
}
.plans_container_slider .plans_container_card:last-child{
    margin-right: 20%;
}

.plans_container_slider .plans_container_card .plans_recomended{
    position: absolute;
    padding: 10px;
    width: 140px;
    font-size: 1.4rem;
    background-color: var(--bitcoin-orage);
    color: var(--just-white);
    border-radius: 5px;
    top: -20px;
    font-weight: var(--size-700);
    left: calc(50% - 70px);
}

.plans_container_slider .plans_container_card h3{
    font-size:1.8rem;
    padding-top: 20px;
}

.plans_container_slider .plans_container_card .plan_info_price{
    font-size: 6rem;
    font-weight: bold;
    display: flex;
    align-items: top;
    justify-content: center;
}

.plans_container_slider .plans_container_card .plan_info_price span{
    font-size: 1.4rem;
    padding-top:15px;
}

.plans_container_slider .plans_container_card .plan_info_saving{
    font-size: 1.4rem;
    color: var(--middle-gray)
}


.plans_container_slider .plans_container_card .plan_info_button{
    padding: 10px;
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: var(--off-white);
    border: solid 2px var(--bitcoin-orage);
    color: var(--black);
    font-size: 1.4rem;
    font-weight:bold;
    line-height: 1.8rem;
    border-radius: 4px;
    font-family: "DM Sans";
    cursor:pointer;
    margin-bottom: 10px;
}

.plans_container_slider .plans_container_card .plan_info_button span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('./assets/icons/orange-right-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    vertical-align:text-bottom;
}

